body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.discordapp.com/attachments/1159681559255863347/1209676240508682280/b374d881b4a02e4b5de07b42be54dd99.gif?ex=6603794a&is=65f1044a&hm=3c951e974c01e09e2535dea1d6f1c514da171cc4de6fc256ee11d4b391a836a2');
    background-size: cover;
    z-index: -1;
    animation: backgroundAnimation 10s infinite alternate; /* Add animation */
}

@keyframes backgroundAnimation {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.social-links {
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.2);
}

.discord-link {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 20px;
}